 body {
    display: flex;
    align-items: center;
    font-family: sans-serif;
}
canvas{ 
    border: 1px solid black 
}
html {
    --card-color: #cacaca;
    --text-color: #e1e1e1;
}
h2 {
    color: rgb(68, 68, 68);
    text-align: center;
    margin: 10px;
}

label {
    padding-left: 8px;
    font-size: 17px;
    color: #444;
    margin: 10px;
}
